services:
  db:
    image: postgres:16
    container_name: video_db
    restart: always
    environment:
      POSTGRES_DB: video_db
      POSTGRES_USER: video_user
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  bot:
    build: .
    container_name: video_bot
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "
      sleep 5 &&
      python -m app.apply_migrations &&
      python -m app.load_json data/videos.json &&
      python -m app.main
      "

volumes:
  postgres_data:
